<FlexboxLayout class="outer-flex">
    <StackLayout class="image">
        <Image stretch="fill" src="res://mee" width="150" height="150" borderRadius="100"></Image>
    </StackLayout>
    <StackLayout class="text">
        <Label textWrap="true">
            <FormattedString>
                <Span text="Привет! Меня зовут Яна и я организатор пространства!"></Span>
                <Span text="Привет! Меня зовут Яна и я организатор пространства!"></Span>
                <Span text="Привет! Меня зовут Яна и я организатор пространства!"></Span>
                <Span text="Привет! Меня зовут Яна и я организатор пространства!"></Span>
            </FormattedString>
        </Label>
    </StackLayout>
    <!-- social media -->
    <FlexboxLayout class="social-media">
        <!-- viber -->
        <FlexboxLayout class="media">
            <FlexboxLayout color="#665cac" class="icon">
                <Label text="&#xf409;" class="fab"></Label>
            </FlexboxLayout>
            <FlexboxLayout backgroundColor="#665cac" class="icon-text">
                <Label class="icon-label" text="0952342424"></Label>
            </FlexboxLayout>
        </FlexboxLayout>
        <FlexboxLayout class="media">
            <FlexboxLayout color="#4FCE5D" class="icon">
                <Label text="&#xf232;" class="fab"></Label>
            </FlexboxLayout>
            <FlexboxLayout backgroundColor="#4FCE5D" class="icon-text">
                <Label class="icon-label" text="0952342424"></Label>
            </FlexboxLayout>
        </FlexboxLayout>
        <FlexboxLayout class="media">
            <FlexboxLayout color="#833AB4" class="icon">
                <Label text="&#xf16d;" class="fab"></Label>
            </FlexboxLayout>
            <FlexboxLayout backgroundColor="#833AB4" class="icon-text">
                <Label class="icon-label" text="feya.v.dome"></Label>
            </FlexboxLayout>
        </FlexboxLayout>
    </FlexboxLayout>
</FlexboxLayout>