<ns-action-bar></ns-action-bar>
<ScrollView>
    <FlexboxLayout class="outer-flex">
        <StackLayout class="image">
            <Image stretch="fill" src="res://mee" width="150" height="150" borderRadius="100"></Image>
        </StackLayout>
        <StackLayout class="text">
            <Label textWrap="true" text="Здравствуйте, меня зовут Яна Козак и я организатор пространства!"></Label>
            <Label textWrap="true" text="Организатор пространства это эксперт в области порядка, хранения и организации, который создаёт индивидуальные системы хранения исходя из привычек, потребностей и образа жизни клиента."></Label>
            <Label textWrap="true" text="Главная цель организатора это не разложить вещи по полкам, а научить человека быть более организованным и наладить быт так, чтобы клиент тратил значительно меньше времени на уборку и увидел свои истинные причины беспорядка."></Label>
            <Label textWrap="true" text="Я оказываю услуги по выездной организации (на дому у клиента), а также провожу онлайн консультации (короткий разбор проблемы) и онлайн организации отдельных зон вашего жилья."></Label>
            <Label textWrap="true" text="По всем вопросам свяжитесь со мной удобным способом 👇"></Label>
        </StackLayout>
        <!-- social media -->
        <FlexboxLayout class="social-media">
            <!-- viber -->
            <FlexboxLayout class="media">
                <FlexboxLayout color="#665cac" class="icon">
                    <Label text="&#xf409;" class="fab"></Label>
                </FlexboxLayout>
                <FlexboxLayout backgroundColor="#665cac" class="icon-text">
                    <Label class="icon-label" text="0952342424"></Label>
                </FlexboxLayout>
            </FlexboxLayout>
            <FlexboxLayout class="media">
                <FlexboxLayout color="#408048" class="icon">
                    <Label text="&#xf232;" class="fab"></Label>
                </FlexboxLayout>
                <FlexboxLayout backgroundColor="#408048" class="icon-text">
                    <Label class="icon-label" text="0952342424"></Label>
                </FlexboxLayout>
            </FlexboxLayout>
            <FlexboxLayout class="media">
                <FlexboxLayout color="#8855aa" class="icon">
                    <Label text="&#xf16d;" class="fab"></Label>
                </FlexboxLayout>
                <FlexboxLayout backgroundColor="#8855aa" class="icon-text">
                    <Label class="icon-label" text="feya.v.dome"></Label>
                </FlexboxLayout>
            </FlexboxLayout>
        </FlexboxLayout>
    </FlexboxLayout>
</ScrollView>