<FlexboxLayout justifyContent="center" alignItems="center" class="modal-body animation">
    <StackLayout class="text-div">
        <Image class="img" src="https://sun9-3.userapi.com/dB8CoIqC7JAjp1-KZZyyWDA0ldgcStuT7-3PUQ/UZCOzuTmiH0.jpg"></Image>
        <!-- <Label [text]="greetingText"></Label> -->
        <!-- <Label class="label" textWrap="true" text="As a nurse, you must be able to perform a complete physical assessment on a patient. This skill is the foundation of nursing practice. For this task, you will record yourself completing a physical health assessment on a family member or friend (do not use a patient in a healthcare setting) using the Panopto video recording system."></Label> -->
    <Button (tap)="close()" text="Хорошо, спасибо!"></Button>
    </StackLayout>
</FlexboxLayout>